* {
    box-sizing: border-box;
}

#Envolvente {
    width: 85%;
    /*Asi el */
    margin: 0 auto;
    min-width: 650px;
}
#Envolvente #contenido{
    display: flex;
    align-items: stretch; /*Por defecto*/
    flex-direction:row;/*Por defecto*/
    justify-content: space-between;/*Por defecto*/
}

header img{
	width: 100%;
}

#Envolvente header h1 {
    color: white;
    text-align: center;
}
#Envolvente  h2{
	font-size: 20pt;
	font-weight: normal;
	margin:10px auto;
}
#Envolvente #contenido #izq{
    width: 25%;
    flex: 1 1 25%;  
    background-color:rgb(243, 243, 84);
    color: white;
}
#Envolvente #contenido #izq h1{
    text-align: center;
    font-size: 20px;
    color: black;
}

#Envolvente #contenido #izq p{
    text-align: left;
    margin-left: 10px;
    color: black;
}
#Envolvente #contenido main{
    width: 50%;
    flex: 1 1 60%;
    padding: 20px 3%;
    background-color: rgb(0, 208, 194);
}
#Envolvente #contenido main h2{
    font-size: 25px;
}
#Envolvente #contenido main p{
    font-size: 15px;
}

#Envolvente nav {
    background-color: rgb(0, 208, 194);
    list-style-type: none;

    width: 100%;
    height: 65px;
    margin-top: -4px;
    padding-left: 400px;

    display: flex;
}
#Envolvente nav a{
    text-decoration: none;
}

#Envolvente aside .anuncio img{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding-left: 20%;
    
}

#Envolvente aside .anuncio p{

    font-size: 15px;
    padding-left: 20%;
}

#Envolvente aside .anuncio {

    width: 70%;
    border-radius: 25pt;
    background-color:rgb(243, 243, 84);
}

#Envolvente footer{
    background-color:rgb(243, 243, 84);
    display: flex;
    flex: 1 1 50%;
}
#Envolvente aside .publi{

    padding-left: 20%;
}
#Envolvente #contenido #derecha{
    width: 25%;
    flex: 1 1 25%;  
    background-color:rgb(243, 243, 84);
    color: black;
}
#Envolvente footer p{
    color: black;
    padding-left: 30px;
}
body{	
    margin:0px auto; /* para forzar la posición de la cabecera pegada al borde de la pantalla */
    width: 85%;
    min-width: 700px;
    max-width: 1200px;
}

header img{
    width: 100%;
}

header nav ul{
    background-color: rgb(0, 208, 194);
    list-style-type: none;
    
    width: 100%;	
    height: 60px;
    margin-top: -4px;		
    padding-left: 0px;
    
    display: flex;
}

nav li{	
    font-size: 16pt;
    text-align: center;	
    
    flex: 1 1 25%;		
    padding-top: 17px;		
}

nav li a{
    text-decoration: none;
    color: white;
}

#contenido{
    display: flex;
}

#contenido aside{
    flex:0 0 20%;
}

#contenido aside li{
    font-size: 16pt;
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 10px;
}

#contenido aside #publi{
    background-color: rgb(0, 208, 194);
    text-align: center;	

    width: 90%;
    height: 120px;
    padding-top: 5%;
    margin: 10px;
}

#contenido main{
    flex:0 0 80%;	
    border-left: 1px solid #FEDC00;
    padding: 2px 3%;
}

#contenido main h3{
    font-size: 20pt;
    font-weight: normal;
    margin:4px auto;
}

#contenido main h4{
    font-size: 10pt;
    font-weight: normal;
    border-bottom: 1px solid #FEDC00;
    margin:4px auto;
}

#contenido main section{
    display: flex;
    flex-wrap: wrap;
}

#contenido main section article{
    background-color: rgb(0, 208, 194);
    border:0 solid transparent;
    border-radius: 15px;

    flex:0 0 30%;		
    margin:1%;
}

#contenido main section article p{
    color: white;
    font-size: 12pt;

    width: 85%;
    margin: 20px auto;	
}

#contenido main section article img{
    width: 100%;	
}

#contenido main section article .precio{
    text-align: right;
    font-size: 18pt;
    font-weight: bolder;
}

#contenido main section article .boton{
    background-color: rgb(24, 185, 126);
    
    text-align: center;
    font-weight: bolder;
    font-size: 14pt;
    border-radius: 5px;

    width: 50%;
    padding: 5px;	
}
footer{
    background-color: rgb(0, 208, 194);
	font-size: 12pt;	
	color: white;
	text-align: center;

	width: 100%;
	padding-top:10px;
	padding-bottom:10px;	
}
.flecha1{
   
    float:right;
    width: 10%;
    margin-left: 30pt;
    margin-top: 82pt;
    margin-right: 30pt;
}
.img{
    padding-left: 350px;
    width: 80%;
    margin-left: 200px;
}
#carrusel{
    padding-top: 90px;
}
#pieDeFoto a{
    text-decoration: none;
    color:yellow;
}
#pieDeFoto a:hover{
    color: cyan;
}

