*{
    box-sizing: border-box;
}
#contenido{
    flex: 1 1 100%;
    margin: 0 auto;
    display: flex;
    margin-bottom: -30px;
}

#contenido main img{
    flex: 1 1 90%;
    padding: 4px;
    margin-left: 15%;
    align-items:center;
    width: 100%;
}

footer{
    background-color:rgb(243, 243, 84);
    position: relative;
    height: 90px;
    width: 100%;
    margin-top: -4px;
    display: flex;
    justify-content: center;
}
footer p{
    font-size: 22px;
    text-align: center;
    margin: 30px;
}
